

@model CiroHesaplama.Models.Sube


@{
    ViewBag.Title = "Duzenle";

}
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="panel panel-warning">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="background-color:#ff6a00;text-align:center;color:#000000">Bayram Bal Bulvar216 </div>
                    <div class="panel-heading" style="background-color:#ff6a00;color:#000000">>>>> GÜNCELLEME İŞLEMİ </div>
                    @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Ciroid)
                        <div class="panel-body" style="color:#000000">
                            <div class="col-md-12" style="background-color:#ff6a00">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="col-md-6">
                                        <div class="form-horizontal" style="margin-top:20px;margin-bottom:30px;">
                                            <div class="form-group" style="display:none;">
                                                <label class="control-label col-sm-4 ">Şube Seçiniz:</label>
                                                <div class="col-sm-6">

                                                    @Html.DropDownList("rollerim", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>

                                        
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Fatura Sayısı:</label>
                                                <div class="col-sm-6">
                                                 @Html.TextBoxFor(model => model.FaturaSayisi, new { @class = "form-control", required = "" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Fatura Tutar:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.FaturaTutar, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">   Nakit:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.Nakit, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Kredi Kartı:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.KrediKarti, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Çek:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.Cek, new { @class = "form-control" ,required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Havale:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.Havale, new { @class = "form-control" , required = "" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal" style="margin-top:20px;margin-bottom:30px;">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Harcama Adet:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.HarcamaAdet, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Harcama Tutar:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.HarcamaTutar, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Not:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextAreaFor(model => model.GunlukTutulanNot, new { @class = "form-control", @rows = "8" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 "></label>
                                                <div class="col-sm-6">
                                                    <input type="submit" value="Kaydet" class="btn  btn-primary" style="color:#000000" />

                                                </div>
                                            </div>
                                         

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>


                        </div>
                }
                </div>

            </div>
        </div>
    </div>
</div>