@model CiroHesaplama.Models.Sube

@{
    ViewBag.Title = "Ekle";

}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    .deneye {
        display: none;
    }
</style>
<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="panel panel-warning">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="background-color:#ff6a00;text-align:center;color:#000000">Lokum Stargate </div>
                    <div class="panel-heading" style="background-color:#ff6a00;color:#000000">>>>> EKLEME İŞLEMİ </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="panel-body" style="color:#000000">
                            <div class="col-md-12" style="background-color:#ff6a00">
                            
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="col-md-6">
                                        <div class="form-horizontal" style="margin-top:20px;margin-bottom:30px;">
                                            <div class="form-group">
                                                @*<label class="control-label col-sm-4 ">Şube Seçiniz:</label>*@
                                                <div class="col-sm-6">

                                                    @Html.DropDownList("rollerim", null, "----şube seçiniz---", new { @class = "form-control deneye", required = "" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Tarih Seçiniz:</label>
                                                <div class="col-sm-6">

                                                    @Html.TextBox("textBoxDogum", null, "", new { @class = "form-control", required = "tarih seçiniz" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Fatura Sayısı:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtFaturaSayimiz", null, new { @class = "form-control ", required = "" })


                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Fatura Tutar:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtFaturaTutarimiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">   Nakit:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtNakitimiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Kredi Kartı:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtKrediKartimiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Çek:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtCekimize", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Havale:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtHavalemiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal" style="margin-top:30px;margin-bottom:30px;">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Harcama Adet:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtHarcamaAdetimiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Harcama Tutar:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextBox("txtHarcamaTutarimiz", null, new { @class = "form-control", required = "" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 ">Not:</label>
                                                <div class="col-sm-6">
                                                    @Html.TextArea("txtNotumuz", null, new { @class = "form-control", @rows = "10" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4 "></label>
                                                <div class="col-sm-6">
                                                    <input type="submit" value="Kaydet" class="btn  btn-primary" style="color:#000000" />

                                                </div>
                                            </div>
                                            <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
                                            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
                                            <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $("#textBoxDogum").datepicker({ dateFormat: 'dd-mm-yy' }.valueOf());
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>


                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>